
footer{
  height: fit-content;
  padding: 50px 30px;
  background-color: var(--light-dark-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
footer .logo, .ftr{
  height: 150px;
}
footer .logo h2{
  color: var(--secondary-color);
}
.ftr:nth-child(2){
  display: flex;  
  flex-direction: row;
  background-color: aqua;
  gap: 1em;
  align-items: center;
}
.ftr:nth-child(3){
  background-color: gray;
  display: grid;
}
.ftr:nth-child(4){
  display: flex;
  align-items: center;
}
.social-links{
  background-color: antiquewhite;
  height: 50px;
  width: 50px;
}

.emailSub{
  height: 50px;
  width: auto;
  display: grid;
  align-items: center;
}
.emailAd{
  height: 2.5em;
  width: 20em;
  padding-left: 10px;
}
.emailSubmit{
  height: 2.5em;
  width: 3em;
}
