
.profile-pop-up{
  display: none;
  height: auto;
  width: 100px;
  padding: 10px;
  border: solid 1px black;
  background-color: var(--lightest-color);
  color: var(--light-dark-color);
  position: absolute;
  transform: translate(-20px, 5em);
  z-index: 3;
}

.profile-pop-up nav{
  display: grid;
  grid-auto-flow: row;
}
.profile-pop-up button{
  background: none;
  border: none;
  width: auto;
  text-align: left;
}
.profile-pop-up a, .profile-pop-up button .profile-pop-up span{
  text-indent: 10px;
  padding: 5px 0;
}
.profile-pop-up a:hover, .profile-pop-up button:hover{
  background-color: gray;
  
}