header{
  height: 50px;
  width: 100%;
  background-color: var(--primay-color);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  position: fixed;
  align-items: center;
  top: 0;
  z-index: 2;
}

div{
  height: 50px;
}
.logo{
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}
.logo:hover{
  cursor: default;
}
.logo-img{
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin-left: 20px;
}
.logo h3{
  color: var(--logo-font-color);
}
.navSection{
  display: flex;
  align-items: center;
  color: var(--general-text-color);
  font-weight: var(--boldness);
  /* background-color: rgb(238, 95, 0); */
  padding: 0 20px;
}
  .navSection nav a{
    margin-right: 20px;
  }

.sideBtns{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
  gap: .5em;
}

.sideBtn{
  height: 20px;
  width: 20px;
}
.cart, .profile{
  height: var(--icon-size);
  width: var(--icon-size);
  object-fit: contain;
  background: none;
  border: none;
}
.cart + .profile:hover{
  cursor: pointer;
}