@import "./partialCSS/header.css";
@import "./partialCSS/hero.css";
@import "./partialCSS/footer.css";
@import "./partialCSS/animation.css";
@import "./partialCSS/pop-up.css";
@import "./partialCSS/darkmode.css";

/* @import "./partialCSS/swiper.css"; */
.slide-icons{
  font-size:50px;
  background-color: none;
  border-radius: 100%;
  color: black !important;
  /* border: solid 2px black; */
  filter: drop-shadow(1px 1px 3px black);
}

*{
  margin: 0;
  padding: 0;
  /* border: 1px red solid; */
  letter-spacing: -.3px;
  font-weight: var(--boldness);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body::-webkit-scrollbar{
  width: 0;
  height: 0;
}

:root{
  --primay-color: #ffeb00;
  --secondary-color: #fff150;
  --tertiary-color: #fff68b;
  --tertary-color: #fffac3;
  --lightest-color: #fdfcec;
  --primary-dark-color:#ccbc00;
  --secondary-dark-color:#9a8e00;
  --tertiary-dark-color:#686000;
  --dark-color: #312e3b;
  --white-color: #FFFF;
  --light-dark-color: #353318;
  --lighter-dark-color: #686435;
  --icon-size: 20px;
  --boldness: 700;
  --bold: 500;
  --title-font:25px;
  --description-font: 18px;
  --max-wdith: 2040px;
}

a{
  text-decoration: none;
  color: var(--light-dark-color);
}

h3, span{
  color: var(--light-dark-color);
  padding: 10px 0;
}

body{
  /* background-image: linear-gradient(180deg, var(--primay-color) 1px, var(--tertiary-color), white 90%); */
  display: grid;
  /* justify-content: center; */

}

.container{
  gap: 0;
  display: grid;
  /* background-color: #312e3b; */
  justify-self: center;
  margin: auto 0;
  width: 90%;
}

h3{
  text-indent: 20px;
}

.display-product, .cont{
  border-radius: 5px;
  /* border-bottom: var(--lighter-dark-color) solid 3px; */
  box-shadow: 0px 2px 3px 1px var(--dark-color);

}

.tools{
  height: fit-content;
  padding: 30px 0;
  background-color: var(--lightest-color);
  display: flex;
  justify-content: center;
  gap: 2em;
}
.tool-button{
  width: 50px;
  padding: 10px;
  border: solid 1px var(--dark-color);
  border-radius: 10px;
  color: var(--dark-color);
  font-size: .5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.categories{
  height: fit-content;
  padding: 20px 0;
  margin: 2em 0;
  background-color: var(--lightest-color);
  display: grid;
  grid-template-columns: 95% 5%;
}
.categories h5{
  display: inline-block;
}
.category-wrapper{
  padding: 20px 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 150px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  gap: 1em;
  grid-column: 1 / span 2;
  justify-content: start;
}
.category-wrapper::-webkit-scrollbar{
  height: 0px;
}

.category{
  height: 50px;
  min-width: 150px;
  border: solid 1px var(--dark-color);
  color: var(--dark-color);
  border-radius: 20px;
  text-align: center;
  display: grid;
  align-items: center;
}

.expand{
  align-self: center;
  justify-self: center;
}
.expand .fa{
  font-size: 1.5rem;
}

.display-product{
  height: fit-content;
  background-color: var(--lightest-color);
  margin: 2em 0;
  background-color: none;
  display: grid;
  grid-row: 50px 1fr;
}
.display-product h3{
  border-bottom: var(--lighter-dark-color) solid 2px;
}
.product-wrapper{
  display: grid;
  padding: 20px;
  gap: 1.5rem;
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px, auto);
  justify-content: space-evenly;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.item{
  width: 200px;
  display: flex;
  background-color: var(--tertiary-color);
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: var(--dark-color) 2px 2px 4px -2px;
}

/* discovery */
#discovery{
display: flex;
flex-wrap: wrap;
overflow-x: unset;
overscroll-behavior-inline: unset;
justify-content: center;
  .item{
    width: 250px;
  }
}

#onSale::-webkit-scrollbar{
  display: none;
}
.product-img{
  object-fit:contain;
  border-bottom: solid 1px black;
}
.product{
  height: auto;
  width: auto;
  border-bottom: solid 1px black;
}
.price, .brand{
  padding: 5px;
}
.slide{
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  border: none;
  position: absolute;
  align-self: center;
  margin: 10px;
  background: none;
  transition: .1 ease-in-out;
}
.to-right{
  right: 0;
}
.to-left{
  left: 0;
}
.prev:disabled, .next:disabled{
display: none;
}

/*tablet view*/
@media screen and (max-width: 1024px) and (min-width: 769px) {

}

/* mobile view */
@media screen and (max-width: 768px) and (min-width:485px){

}
